<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="log-path">/var/log/kholodovitch/marketing-vk</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %class{36}.%M - %msg%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="${log-path}/processor.log" filePattern="${log-path}/processor-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
			    <pattern>%d{yyyyMMdd HH:mm:ss.SSS} %level{length=1} [%t] %c{1}.%M - %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="365" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="ALL">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>